<!DOCTYPE html>
{%extends 'representation/base.html'%}
{%block signup%}
<form class="x" method="POST" align="center">
<div>
  <i  id="spin"></i>

</div>
{{form}}
{%csrf_token%}
<button onclick="spin1()" type="submit" class='btn btn-primary btn-lg'>login&nbsp;&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i>
</button>


</form>

<div class="video-hadoop" class="container" align="center">
  <fieldset>

  <legend><marquee scrollamount="80" behavior="slide">  <small>Before going to this project you can Watch the video to know what is Hadoop??</small></marquee></legend>
  <iframe class="hadoop-video" height="200" width="350" allowfullscreen
  src="https://www.youtube.com/embed/aReuLtY0YMI">
  </iframe>

</fieldset>

</div>
{%endblock%}
